body {
    margin: 0;
}

.circle {
    display: block;
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.photo-frame {
    display: block;
    background-color: chocolate;
    width: 50vw;
    height: 80vh;
    top: -100%;
    /* left: 0; */
    position: absolute;
    /* left: 25%; */
    transform: translateX(50%);
}
